.flip-card {
  background-color: transparent;
  width: auto;
  height: 400px;
  text-align: center;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.flip-card:hover {
  transform: translateY(-12px);
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.title{
  margin: 20px;
}
.flip-card-front {
  box-shadow: var(--shadow);
  min-height: 325px;
}

.flip-card-back {
  padding-top: 80px;
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}
#cardicon{
  margin: 0 20px 0 0;
}

.projectimg {
  max-width: 90%;
  max-height: 100%;
}

.project__description {
  margin: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
