.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.flip-card:hover {
  transform: translateY(-12px);
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front {
  box-shadow: var(--shadow);
  min-height: 325px;
  backface-visibility: hidden;
}

.projectimg {
  margin-top: 10px;
  max-width: 90%;
  max-height: 100%;
}

.title {
  margin: 10px 0; /* Reduced space */
  font-size: 1.4rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-size: 0.8rem;
  font-weight: 500;
}

.link--icon {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--clr-icon);
  transition: color 0.2s ease;
}

.link--icon:hover {
  color: var(--clr-icon-hover);
}
